<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Google.API_KEY" value="AIzaSyDB5XU3V7pBXBejf9kNxIg7CAoegGsGuDc" />
    <add key="Google.ID_INSTANCE_SEARCH" value="02a68b0e59438d071" />
    <add key="Google.REQUEST" value="https://www.googleapis.com/customsearch/v1?key={key}&amp;cx={instance}&amp;q={query}"/>
    <add key="Bing.API_KEY" value="ad8da1b0a49649409882feddecd50b07" />
    <add key="Bing.REQUEST" value="https://api.bing.microsoft.com/v7.0/search"/>
  </appSettings>
  
</configuration>